@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-border {
  background: linear-gradient(60deg, #3b82f6, #2dd4bf, #3b82f6, #2dd4bf);
  background-size: 300% 300%;
  animation: animateGradient 3s ease infinite;
}
