@keyframes pop-in-bounce {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.pop-in-header {
  animation: pop-in-bounce 0.5s ease-out;
}

.pop-in-content {
  opacity: 0;
  animation: pop-in-bounce 0.5s ease-out forwards;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}

.delay-3 {
  animation-delay: 1.5s;
}

.delay-4 {
  animation-delay: 2s;
}

.delay-5 {
  animation-delay: 2.5s;
}

@media (max-width: 768px) {
  main {
    padding: 2rem 1rem 8rem 1rem;
  }
}
